<!DOCTYPE html>
<html>
<head>
    <title>To-Do List</title>
    {% load static %}
    <script src="{% static 'js/vue.js' %}"></script>

    <style>
        .completed-task {
            text-decoration: line-through;
            color: gray;
        }
    </style>
</head>
<body>

    <h1>My To-Do List</h1>

    <a href="{% url 'create' %}">Add New Task</a>
    <div id="app">
        <ul>
            <li v-for="task in tasks" :key="task.id" :class="{ 'completed-task': task.completed }">
                {{ task.title }}
                <a :href="'/tasks/' + task.id + '/edit/'">Edit</a>
                <a :href="'/tasks/' + task.id + '/delete/'">Delete</a>
            </li>
        </ul>
    </div>



    
    <script>
    const appConfig = {
        delimiters: ['[[', ']]'],

        data() {
            return {

            }
        },
        computed: {
        },
        methods: {
        },
        mounted() {
        }
    };

    const app = Vue.createApp(appConfig);
    app.mount('#app');

    </script>
</body>
</html>